<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Каталог товаров</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <script src="/static/js/search.js"></script>
</head>
<body>
    <h1 id="catalog-title">Каталог товаров</h1>
    <input type="text" id="searchInput" placeholder="Я ищу...">
    <div id="search-results"></div>
    <div id="catalog" class="container">
        <div class="row">
            <div class="product">
                <img src="/static/img/product1.jpg" alt="Product 1" width="150" height="150">
                <div class="product-info">
                    <p class="price">Цена: $99.99</p>
                    <p class="product-name">Кроссовки Nike Air Max 95 Sneakerboot Black</p>
                    <button class="add">Добавить</button>
                </div>
            </div>
            <div class="product">
                <img src="/static/img/product2.jpg" alt="Product 2" width="150" height="150">
                <div class="product-info">
                    <p class="price">Цена: $109.99</p>
                    <p class="product-name">Nike Air Max Terrascape Plus DC6078-100</p>
                    <button class="add">Добавить</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
