<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Каталог товаров</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <script src="static/js/search.js"></script>
</head>
<body>
    <h1 id="catalog-title">Каталог товаров</h1>
    <input type="text" id="searchInput" placeholder="Я ищу...">
    <div id="search-results"></div>
    <div id="catalog" class="container">
        <div class="row">
            {% for product in products %}
                <div class="product">
                    <img src="/product/image/{{ product.product_id }}" alt="{{ product.product_name }}" width="150" height="150">
                    <div class="product-info">
                        <p class="price">Цена: ${{ product.product_price }}</p>
                        <p class="product-name">{{ product.product_name }}</p>
                        <button class="add">Добавить</button>
                    </div>
                </div>
                {% if loop.index % 2 == 0 %}
                    </div><div class="row">
                {% endif %}
            {% endfor %}
        </div>
    </div>
</body>
</html>
